# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners,
# the last matching pattern has the most precedence.
#
# See https://help.github.com/articles/about-codeowners/

* @raymondfeng

packages/authentication/* @raymondfeng
packages/boot/* @raymondfeng @hacksparrow
packages/booter-lb3app/* @nabdelgadir
packages/build/* @raymondfeng
packages/http-caching-proxy/*
packages/http-server/* @hacksparrow
packages/cli/* @raymondfeng
packages/context/* @raymondfeng
packages/core/* @raymondfeng
packages/metadata/* @raymondfeng
packages/openapi-spec-builder/* @raymondfeng
packages/openapi-v3/* @jannyHou
packages/openapi-v3-types/* @jannyHou
packages/repository/* @raymondfeng
packages/repository-json-schema/*
packages/rest/* @raymondfeng
packages/service-proxy/* @raymondfeng
examples/todo/* @hacksparrow
examples/express-composition/* @nabdelgadir
examples/greeter-extension/* @raymondfeng
examples/hello-world/* @b-admike
examples/lb3-application/* @bajtos @nabdelgadir
examples/log-extension/* @hacksparrow
examples/rpc-server/* @hacksparrow
examples/soap-calculator/* @marioestradarosa
docs/* @raymondfeng @hacksparrow @b-admike @jannyHou
